R/* linguist-detectable
inst/* linguist-vendored
DESCRIPTION linguist-vendored
NAMESPACE linguist-vendored
*.*md linguist-vendored
man/* linguist-vendored
*.html linguist-vendored
*.R* linguist-detectable
